@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.back-color {
	background: rgba(255, 176, 0, 0.35);
}

.grad {
	border-radius: 18px;
	border: 1px solid rgba(255, 255, 255, 0.43);
	background: linear-gradient(180deg, #00b2ff 0%, #2226ff 100%);
}

.memefi-bg {
	background: linear-gradient(96deg, #f58300 6.27%, #cd6000 100%);
}

.tonfish-bg {
	background: linear-gradient(96deg, #0077fc 6.27%, #002c5c 100%);
}

.gamefi1-bg {
	background: linear-gradient(96deg, #202020 6.27%, #000 100%);
}

.gamefi2-bg {
	background: linear-gradient(96deg, #06b657 6.27%, #00904b 100%);
}

.blue-grad {
	background: linear-gradient(96deg, #0077fc 6.27%, #002c5c 100%);
}

.red-grad {
	background: linear-gradient(96deg, #5b0002 6.27%, #a40003 100%);
}

.purple-grad {
	background: linear-gradient(96deg, #4b00cf 6.27%, #290070 100%);
}

.yellow-grad {
	background: linear-gradient(96deg, #c76a00 6.27%, #753700 100%);
}

.button-grad {
	background: linear-gradient(180deg, #00b2ff 0%, #2226ff 100%);
}

.rank-number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 2rem;
	font-weight: bold;
}


/* Border Gradient  */
.border-gradient {
	position: relative;
}

.border-gradient::before {
	position: absolute;
	content: "";
	inset: 0;
	border-radius: 0.75rem;
	pointer-events: none;
	padding: 1px;
	background: linear-gradient(135deg, #232323, #808080);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}

/* For Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
	display: none;
	/* Hide scrollbar */
}

/* For Firefox */
html {
	scrollbar-width: none;
	/* Hide scrollbar */
}

@keyframes float {
	0% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}

	50% {
		opacity: 1;
		transform: translateY(-25px) scale(1.1);
	}

	100% {
		opacity: 0;
		transform: translateY(-70px) scale(1.2);
	}
}

/* Apply the animation easing to smooth the transitions */
.tap-effect {
	animation: float 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Optional: Adjust the styling of the tap-image class */
.tap-image {
	position: relative;
	/* Ensure the parent container has relative positioning */
}

.sortable-handler {
	touch-action: none;
}